body {
	display: flex;
	margin: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	font-family: avenir, "avenir next", helvetica, arial, sans-serif;
}

#big-ye {
	flex-basis: 200rem;
  height: auto;
  width: auto;
  background-image: url("welcome-to-heartbreak.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*#kanye-pic {
	height: 100%;
	width: auto;
}*/

#kanye-overlay {
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	padding: 9% 0px;
	height: 100%;
	width: 97%;
	color: rgba(255, 255, 255, 0.4);
}

#weather, #yahoo-search, #aapl, #yhoo-stock, #wymeia, #pharmacy {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing: content-box;
	height: 6%;
	padding-left: 20px;
}

#weather {
	background-color: #86419C;
	width: 20%;
	font-size: 0.55rem;
}

#partly-cloudy {
	display: inline-block;
	transform: scale(0.75, 0.75) translate(-18%);
}

#temperature {
	font-size: 1rem;
	margin-right: 4%;
	line-height: 100%;
	transform: translate(-20%);
}

#yahoo-search {
	background-color: #6E2D86;
	width: 50%;
	height: 7.25%;
}

#yahoo-search input {
  width: 60%;
  height: 54%;
  transform: translate(-9%);
}

#yahoo-logo {
	transform: scale(0.75, 0.75) translate(-18%);
	margin-left: 0px;
}

#magnifying-glass-purple {
	transform: scale(0.7, 0.7) translate(-50%);
}

#aapl, #yhoo-stock {
	width: 24%;
	font-weight: bold;
}

#aapl {
	background-color: #A969bf;
}

#yhoo-stock {
	background-color: #9d5bb5;
}

.stock-price, .price-change {
  font-size: 0.75rem;
}

.stock-price {
	width: 50%;
	text-align: right;
	font-weight: normal;
}

.price-change {
	width: 20%;
	text-align: right;
}

#wymeia {
	background-color: #86419C;
	width: 22.5%;
	height: 8%;
}

#pharmacy {
	background-color: #9D5BB5;
	width: 17.5%;
	height: 7%;
}

.exclamation-point {
	transform: scale(0.75, 0.75) translate(-20%);
}

.alert {
	font-size: 0.54rem;
	margin-right: 15px;
}

#empty-space {
	height: 25%;
}

#mini-ad {
  width: auto;
  height: 9.3%;
}

#mini-ad img {
	max-width: 100%;
	max-height: 100%;
}

#ad-words {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.45rem;
	height: 2%;
	width: 10%;
	background-color: gray;
	color: rgba(255, 255, 255, 0.6);
	opacity: 0.75;
	margin-top: 0px;
}

#headlines {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: flex-start;
	flex-basis: 50em;
	flex-grow: 5;
	box-sizing: content-box;
  padding: 20px;
  font-weight: bold;
	color: #72298C;
}

#latest-news {
	margin: 0px;
	font-size: 0.5rem;
}

#headlines header {
	box-sizing: content-box;
	padding: 25px 0px;
}

#headlines h1 {
	margin-bottom: 0px;
	font-size: 1.2rem;
}

#headlines ul {
	font-size: 0.55rem;
	padding-left: 15px;
}

#headlines ul li {
	margin: 5px auto;
}

#headlines cite {
	display: block;
	color: #cbb1d5;
	font-size: 0.5rem;
	font-weight: normal;
	font-style: normal;
}

#social-media-links {
	display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fdf2ff;
}

.social-media-container, #settings-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5%;
	width: 100%;
	padding: auto 3.5px;
}

#profile-pic-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75%;
	border-left: 1px solid #72298C;
}

#settings-icon-container {
	align-items: flex-end;
  height: 50%;
  padding-bottom: 15px;
}

.social-media-icon {
	margin: 0px 3.5px;
	transform: scale(0.70, 0.70);
}

.social-media-icon:hover {
	transform: scale(1.2, 1.2);
}